/* m1-style.css */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  background-color: black;
}

/* Zooming Button */

.button1 {
  background-image: url(../img/m1-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  width: 350px;
  height: 300px;
  transition: transform .5s;
  border-radius: 25px;
}

.button1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal-m1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: monospace;
  max-height: 700px;
}

.modal-content-m1 {
  background-color: #f4f4f4;
  margin: 10px auto;
  width: 95%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  max-height: 700px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.modal-header-m1 h2,
.modal-footer-m1 h3 {
  margin: 0;
}

.modal-header-m1 {
  background: rgb(97, 24, 11);
  padding: 15px;
  color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.modal-body-m1 {
  padding: 10px 20px;
}

.modal-footer-m1 {
  background: rgb(97, 24, 11);
  padding: 10px;
  color: white;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}


.modal-m1 header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/m1-bg.jpg);
  height: 78vh;
  background-size: cover;
  background-position: center;
}

.main-nav-m1 {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav-m1 li {
  display: inline-block;
}

.main-nav-m1 li a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.main-nav-m1 li.active a {
  border: 1px solid white;
}

.main-nav-m1 li a:hover {
  border: 1px solid white;
}

.logo-m1 img {
  width: 150px;
  height: auto;
  float: left;
}

.row-m1 {
  max-width: 1200px;
  margin: auto;
}

.main-header-m1 {
  position: absolute;
  width: 1200px;
  margin-left: 0;
  margin-top: 0;
}

#h1-m1 {
  color: white;
  margin-top: 250px;
  margin-left: 20px;
}


.h1-2 {
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  margin-top: 275px;
  margin-left: 200px;
}


.button2-m1 {
  margin-top: 30px;
  margin-left: 35%;
}

.btn-m1 {
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.btn-one-m1 {
  background-color: tomato;
  font-family: "Roboto", sans-serif;
}