  /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

  /* Portrait and Landscape */

  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
      /* Global */
      * {
          margin: 0;
          padding: 0;
          border: none;
          outline: none;
          vertical-align: baseline;
          text-align: center;
          font-size: 90%;
      }
      html, body {
          scroll-behavior: smooth;
          font-family: "Poppins", sans-serif;
          width: 100%;
          background: #000;
          color: #cdcdcd;
          overflow-x: hidden;
          max-width: 320px;
      }
      .wrapper {
          width: 100%;
          margin: 0 auto;
      }
      .navBar::after {
          content: "";
          clear: both;
          display: table;
      }
      h1 {
          color: #fff;
          font-size: 48px;
      }
      p {
          color: #fff;
          font-size: 16px;
          font-weight: 300;
      }
      /* NavBar */
      a {
          text-decoration: none;
          color: #000;
          transition: color 0.3s ease;
          font-weight: 600;
      }
      a:hover {
          color: white;
      }
      li.hide {
          display: none;
      }
      li {
          line-height: 1;
      }
      #menuToggle {
          display: block;
          position: relative;
          top: 30px;
          left: 20px;
          z-index: 1;
          -webkit-user-select: none;
          user-select: none;
      }
      #menuToggle input {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;
          cursor: pointer;
          opacity: 0;
          z-index: 2;
          -webkit-touch-callout: none;
      }
      #menuToggle span {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;
          background: #cdcdcd;
          border-radius: 3px;
          z-index: 1;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
          font-size: 48px;
      }
      #menuToggle span:first-child {
          transform-origin: 0% 0%;
      }
      #menuToggle span:nth-last-child(2) {
          transform-origin: 0% 100%;
      }
      #menuToggle input:checked~span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: #232323;
      }
      #menuToggle input:checked~span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
      }
      #menuToggle input:checked~span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
      }
      #menu {
          position: absolute;
          width: 120px;
          height: 30px;
          font-size: 0.7rem;
          background: tomato;
          list-style-type: none;
          -webkit-font-smoothing: antialiased;
          transform-origin: 0% 0%;
          transform: translate(-100%, 0);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      }
      #menu li {
          padding: 10px 0;
          font-size: 24px;
      }
      #menuToggle input:checked~ul {
          transform: none;
      }
      nav {
          height: 70px;
          line-height: 70px;
      }
      nav a img {
          vertical-align: middle;
          width: 30px;
          height: 30px;
      }
      
      nav ul a:nth-child(1) {
          position: absolute;
          top: 60px;
      }

      nav ul a:nth-child(3) {
          position: absolute;
          top: 50;
      }
      /* Icons */
      .fab1 {
          float: right;
          margin-right: 40px;
          z-index: 55;
      }
      .fas1 {
          position: fixed;
          bottom: 2%;
          right: 2%;
          z-index: 100;
      }
      i {
          color: white;
      }
      i:hover {
          color: tomato;
          transition: 0.3s ease-in;
      }
      /*  main-header  */
      .main-header {
          min-height: 100%;
          display: flex;
          justify-content: center;
          margin-right: 185px;
      }
      .main-header header {
          margin: 100px 0 200px 180px;
      }
      .main-header header p {
          width: 60%;
          margin-top: 10px;
      }
      #ui-color {
          color: tomato;
      }
      /*  Samples  */
      .samples {
          text-align: center;
          width: 100%;
          margin-bottom: 20px;
      }
      .samples button {
          margin: 1%;
          width: 90%;
          height: 200px;
      }
      .samples-header {
          margin-top: 20px;
      }
      .samples-header p {
          margin-bottom: 20px;
      }
      /* Other Projects (+ .other-p) */
      .parallax {
          display: none;
      }
      /* About */
      .about {
          margin: 5% auto 0 auto;
          text-align: right;
          background-color: #000;
          min-height: 600px;
          margin-right: 15px;
      }
      .about img {
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
          width: 100%;
          margin-bottom: 15px;
      }
      .about h2 {
          color: #ffffff;
          font-size: 48px;
      }
      .about p {
          color: #ffffff;
          font-size: 16px;
          margin-top: 2%;
          margin-bottom: 15px;
      }
      .right {
          width: 90%;
          margin-top: -70px;
      }
      .about a {
          color: white;
          z-index: 0;
          font-size: 16px;
      }
      .about a:hover {
          color: tomato;
      }
      /* Contact (inside About) */
      .contact {
          display: flex;
          flex-direction: column;
          text-align: center;
          background-color: #000;
      }
      /* Footer */
      footer p {
          color: grey;
          clear: both;
          position: absolute;
          bottom: 0;
          left: 40px;
      }
      /* Portrait */
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}
      /* Landscape */
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}
  }

    * {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        vertical-align: baseline;
        text-align: center;
        font-size: 90%;
    }
    html, body {
        scroll-behavior: smooth;
        font-family: "Poppins", sans-serif;
        width: 100%;
        background: #000;
        color: #cdcdcd;
        overflow-x: hidden;
        max-width: 320px;
    }
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .navBar::after {
        content: "";
        clear: both;
        display: table;
    }
    h1 {
        color: #fff;
        font-size: 48px;
    }
    p {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
    }
    /* NavBar */
    a {
        text-decoration: none;
        color: #000;
        transition: color 0.3s ease;
        font-weight: 600;
    }
    a:hover {
        color: white;
    }
    li.hide {
        display: none;
    }
    li {
        line-height: 1;
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 30px;
        left: 20px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        font-size: 48px;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
        position: absolute;
        width: 120px;
        height: 30px;
        font-size: 0.7rem;
        background: tomato;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
    #menu li {
        padding: 10px 0;
        font-size: 24px;
    }
    #menuToggle input:checked~ul {
        transform: none;
    }
    nav {
        height: 70px;
        line-height: 70px;
    }
    nav a img {
        vertical-align: middle;
        width: 30px;
        height: 30px;
    }
    
    nav ul a:nth-child(1) {
        position: absolute;
        top: 60px;
    }

    nav ul a:nth-child(3) {
        position: absolute;
        top: 50;
    }
    /* Icons */
    .fab1 {
        float: right;
        margin-right: 40px;
        z-index: 55;
    }
    .fas1 {
        position: fixed;
        bottom: 2%;
        right: 2%;
        z-index: 100;
    }
    i {
        color: white;
    }
    i:hover {
        color: tomato;
        transition: 0.3s ease-in;
    }
    /*  main-header  */
    .main-header {
        min-height: 100%;
        display: flex;
        justify-content: center;
        margin-right: 185px;
    }
    .main-header header {
        margin: 100px 0 200px 180px;
    }
    .main-header header p {
        width: 60%;
        margin-top: 10px;
    }
    #ui-color {
        color: tomato;
    }
    /*  Samples  */
    .samples {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .samples button {
        margin: 1%;
        width: 90%;
        height: 200px;
    }
    .samples-header {
        margin-top: 20px;
    }
    .samples-header p {
        margin-bottom: 20px;
    }
    /* Other Projects (+ .other-p) */
    .parallax {
        display: none;
    }
    /* About */
    .about {
        margin: 5% auto 0 auto;
        text-align: right;
        background-color: #000;
        min-height: 600px;
        margin-right: 15px;
    }
    .about img {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%;
        margin-bottom: 15px;
    }
    .about h2 {
        color: #ffffff;
        font-size: 48px;
    }
    .about p {
        color: #ffffff;
        font-size: 16px;
        margin-top: 2%;
        margin-bottom: 15px;
    }
    .right {
        width: 90%;
        margin-top: -70px;
    }
    .about a {
        color: white;
        z-index: 0;
        font-size: 16px;
    }
    .about a:hover {
        color: tomato;
    }
    /* Contact (inside About) */
    .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #000;
    }
    /* Footer */
    footer p {
        color: grey;
        clear: both;
        position: absolute;
        bottom: 0;
        left: 40px;
    }
    /* Portrait */
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}
    /* Landscape */
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}
}

  
